/* LIINA */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.47;
}

/* Main flex settings*/
.main-flex {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.page-body {
    margin-top: 20px;
}

.main-section {
    flex-basis: 1080px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 12px;
}

.flex-column {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.aside {
    flex: 1 1 10px;
}

.ul {
    list-style-type: none;
}


/* jquery validate errors */
.error-storage,
.error-date,
.error-image,
.error-category,
.error-description,
.error-found_location,
.error-email,
.error-lostDate,
.error-placeLost {
    color: red;
    font-size: 14px;
    text-align: left;
    width: 280px;
}

textarea {
    min-height: 50px;
}

/* Homepage styles */
.homeBody {
  background-image: url(images/home-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #6BCABA;
}

.homeTextWrap {
  color: white;
}

.homeSection {
    margin-top: 200px;
}

/* Modal styles */
.modalBox {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10;
    justify-content: space-around;
    overflow: auto;
    margin: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0.26);
    display: flex;
    display: none;
}

.modalBox__content {
    top: 50px;
    left: 40px;
    right: 40px;
    display: flex;
    align-items: center;
    margin: auto;
    outline: none;
}

.dialogBox {
    position: relative;
    width: 360px;
    padding: 60px 20px;
    border-radius: 8px;
    box-shadow: 0 3px 9px 0 rgba(0,0,0,.12);
    border: 1px solid rgba(0,0,0,.12);
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    text-align: center;
}

.dialogBox__closeIcon {
    position: absolute;
    top: -7px;
    right: -7px;
    width: 50px;
    height: 50px;
}

.dialogBox__close {
    background: url(images/icon-close.png) no-repeat 50%;
    background-size: 7px 7px;
    text-align: center;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

/* Add new found item styles */

.fileInputBox {
    width: 280px; 
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.foundLabel {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 12px;
}

.foundLabel p {
    display: flex;
    align-self: flex-start;
    color: rgb(65, 70, 69);
}

.foundLabel input {
    display: flex;
    align-self: flex-end;
    color: rgb(65, 70, 69);
}

.textInput {
    width: 280px; 
}

.fileLabel input {
  display: none;
}


.inputBoxStyle {
    border: 1px solid #dad9d9;
    min-height: 36px;
    padding: 10px 12px;
    outline: none;
    border-radius: 8px;
}

.foundLabel select {
    font-size: 12px;
    height: 40px;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    color: rgb(65, 70, 69);
}

.inputBoxStyle:focus {
    border: 1px solid rgb(63, 58, 61);
}

.homeHeading {
    margin-bottom: 60px;
    font-size: x-large;
}

.modalUrl:visited {
    color: #6BCABA;
}

.modalUrl {
    color: #6BCABA;
    text-decoration: underline;
    transition: color .3s;
}

.modalUrl:hover {
    color: #386b63;
}  

.loadMoreButton {
    text-align: center;
    margin: 40px 0px;
}

.loadMoreButton button {
    padding: 12px 20px;
    background: white;
    border: 1px solid #59a79a;
    text-transform: uppercase;
    cursor: pointer;
    color:#59a79a;
    transition: border .3s, color .3s;
    font-size: 16px;
    outline: 0;
    border-radius: 3px;
}

.loadMoreButton button:hover {
    color: #3b6e66;
    border: 1px solid #3b6e66;
}

.loadMoreButton button::-moz-focus-inner { 
  border: 0; 
}

/* ANETE */

.faq{
    align-items: flex-start;
}
/* linnakukaart*/
.storage-pic{
    width: 600px;
    height: 500px;
    float: right;
    margin-top: 50px;
}

.storage-places{
    float: left;
    margin-top: 50px;
       
}
.storage-places ul{
    list-style-type: none;
    font-size: 20px;
    line-height: 2.5;
}

.star{
    color: red;
    display: inline;
    font-weight: bolder;
    font-size: larger;
    outline: none;
}

select{
    height: 25px;
    outline: none;
}

textarea{
    vertical-align: top;
    outline: none;
}

.storageLabel{
    padding: 2%;
}

.ul a{
    color: white !important;
}

.admin-settings{
    color: white !important;
    background-color: #6BCABA;
    font-size: medium;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: none;   
    width: 150px; 
    text-align: center;
}

.admin-settings:hover{
    background-color: #2a917f;
    transition: .5s;
}
.password-box{
    margin-top: 50px;
    text-align: center;
    background-color: #eeececc0;
    padding: 50px;
    border-radius: 10px;    
    width: 500px;
    height: 300px;
    display: flex;
    justify-content: center;    
}

.password-input{
    height: 25px;
    border-radius: 5px !important;
}

.password-button{
    color: white;
    background-color: #707070;
    font-size: medium;
    border: 3px #707070;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 2px 2px 5px black;
}

.password-button:hover{
    background-color: #413f3f;
    transition: .5s;
}

.auction-input{
    width: 70px;
    height: 20px;
}


/* SANDRA */
/*title kõikidele*/
.title {
    color: rgb(65, 70, 69);
    font-weight: normal;
    margin-top: 30px;
    font-size: 20px;
    margin-bottom: 30px;
}

/*kui klikib hrefi peale siis ei muutu siniseks ja joont pole all*/
a, a:visited{
    text-decoration: none;
    color: black;
}

/*lisa ese nupp*/
.add-ad{
    font-size: medium;
    background-color: rgb(232, 236, 236);
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    display: flex;
    justify-content: center;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.add-ad:hover{
    background-color: #6BCABA;
    transition: .5s;
}

.redirect-found{
    background-color:rgb(221, 223, 223);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    font-size: small;
}

.redirect-found:hover{
    background-color: white;
    transition: .5s;
}

.logo{
    color: white !important;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}

.view{
    height: 250px;
}

.h2-title{
    font-weight: normal;
}

.active{
    font-size: 1.5em;
    font-weight: 600;
}

#delete{
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    text-align: center;
    background-color: #707070;
    color: white;
    align-self: end;
    cursor: pointer;
}

#delete:hover{
    background-color: #413f3f;
}

#deleteForm{
    position: absolute;
    align-self: baseline;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.deleteFormButton{
    padding: 10px;
    border-radius: 10px;
    width: 170px;
    text-align: center;
    background-color: #707070;
    color: white;
    align-self: baseline;
    cursor: pointer;
}

.deleteFormButton:hover{
    background-color: #413f3f;
    transition: .5s;
}

.text{
    visibility: visible;
}

.error{
    margin-top: px;
    font-size: large;
    color: red;
    font-weight: 400;
}

.ul input{
    margin: 30px;
    border: none;
    background-color: #f8f8f8;
    font-size: medium;
    outline: none;
    cursor:pointer;
}

.flex-column a{
    text-decoration: none;
}


/* HERMAN */
#bidEntryBox {
    pointer-events: none;
  }

.filters {
    flex-basis: 260px;
    height: 100%;
    background: #f8f8f8;
    justify-content: center;
    align-self: flex-start; 
    border-radius: 20px;
    box-shadow:2px 2px 5px  black;
}
#filterMain{
    width: min-content;
    text-align:center;
	margin:15px auto;
}

#filterMain:hover{
    color: #6BCABA;
    cursor: pointer;
}
.filterForm{
    align-items: center;   
}
.filterForm input{
    background-color:white;
    border: 1px solid #989898;
    border-radius: 10px;
    width: 220px;
    text-align: center;
}

.filterForm select{
    background-color:white;
    border: 1px solid #989898;
    border-radius: 10px;
    width: 220px;
    margin:20px 20px;
    height: 40px;
    text-align: center;
}
.filterForm #submitSearch{
    background-color: #707070;
    color: white;
}

.filterForm #submitSearch:hover{
    background-color: #413f3f;
    transition: .5s;
}

#priceSuggested{
    padding: 10px;
    border-radius: 10px;
    width: 150px;
    margin-top: 10px ;
    text-align: center;
    background-color: #707070;
    color: white;
}

#priceSuggested:hover{
    background-color: #413f3f;
    transition: .5s;
}

.productexplinationsDATE{
    text-align: right;
    
}

#products {
    width: auto;
    flex-basis: 760px;
    width: auto;
    height: auto;
}
#product {
    width: auto;
    height: auto;
    background: #d3d1d1;
    margin-bottom: 10px;
    border: solid #6BCABA;

}

textarea {
    min-height: 50px;
}
#elements{
    width: auto;
    height: 100%;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin:auto;
    background: white;
    width: 90%;
    height: auto;
    text-align: center;
}
.container{
    height: 200;
    width: 500;
    text-align: center;
    font-size:300% ;
    font-family: Calibri;
    color: black;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#submitItem{
    text-align: left;
    font-size:100% ;
    font-family: Calibri;
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.singleP{

    background-color:#ffffff;
    border-radius: 5px;
    border: solid black;
    width: 800px;
    height: auto;
    padding:20px ;

}
.img-full{
    max-width: 100%;
    max-height: 100%;
}
.thumbs{
    width: 200px;
    height: 200px;
    border-radius: 10%;
}
.singleP {
    display:flex;
    list-style-type: none;
}
.singleP .left {
    flex: 1;
    
}
.singleP .right {
    flex: 1;
}
#productexplinations,#productexplinationsDATE{
    text-align: left;
    margin-left: 30px;
}


/* Anneli */
.white {
    color: white;
}

.titleSection {
    margin-top: 160px;
}

.logInForm {
    background-color: #f8f8f8c0;
    padding: 50px;
    border-radius: 30px;
}

.logInFormBox {
    text-align: center;
}

.logInButton {
    color: white;
    background-color: #707070;
    font-size: medium;
    border: 3px #707070;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 2px 2px 5px black;
}

.logInButton:hover {
    background-color: #413f3f;
    transition: .5s;
}

.logInInputBox input{
    height: 25px;
    border-radius: 8px;
}

.logOutLink {
    text-decoration: underline;
}

.adminHomeButton {
    margin-top: 20px;
    color: white !important;
    background-color: #6BCABA;
    font-size: medium;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px black;
    text-align: center;
    width: 140px;
    border: none;
    align-self: flex-start
}

.adminHomeSection {
    margin-top: 100px;
}

.adminHomeButton:hover {
    background-color: #2a917f;
    transition: .5s;
}

/*
Reorganized stuff for responsiveness
320px | 414px | 600px | 768px | 1080px
*/

.clearfix-50 {
    height: 30px;
}

.filtersProductsLayout {
    color: black;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 320px;

}

.filters {
    margin: auto;
    margin-bottom: 50px;
    border-radius: 20px;
}

.newOffer {
    display:block;
    text-align: center;
}

#priceSuggested {
    width: 130px;
    cursor: pointer;
}


.filterForm select,
.filterForm input{
    width: 200px;
    padding: 5px;
    margin: 10px;
    font-size: 13px;
}

.filterForm select {
    height: 30px;
}

.filterForm #submitSearch{
    margin-bottom: 20px;
}

.products {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    width: 360px;
    flex-wrap: wrap;
}

.product {
    display: block;
    width: 140px;
    margin: 10px;
    align-self: stretch;
    background: rgba(255,255,255,0.95);
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 5px;
    padding: 5px;
}

.productImageBox {
    display: flex;
    width: 130px;
}

.productImage {
    width: 130px;
    height: 130px;
    border-radius: 5px;
}

.productDesc {
    padding: 10px 10px 0px 10px;
}

.productDesc p {
    margin-bottom: 10px;
}


@media (min-width: 414px) {
    .product {
        width: 160px;
    }
    .productImage,
    .productImageBox {
        width: 150px;
        height: 150px;
    }
}

@media (min-width: 600px) {
    .product {
        width: 250px;
    }
    .productImage,
    .productImageBox {
        width: 240px;
        height: 240px;
    }

    .products {
        width: 600px;
    }
    .filters {
        font-size: 14px;
    }
}

@media (min-width: 768px) {
    .product {
        width: 210px;
    }
    .productImage,
    .productImageBox {
        width: 200px;
        height: 200px;
    }

    .products {
        width: 768px;
    }
    .filters {
        font-size: 14px;
    }
}

/* Desktop layout */
@media (min-width: 1024px) {
    .clearfix-50 {
	    height: 50px;
    }

    .filtersProductsLayout {
        flex-basis: auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: black;
        font-size: 12px;
    }

    .filters {
        flex-basis: 260px;
        margin: 0px;
    }

    .products {
        flex-wrap: nowrap;
        display: flex;
        margin-left: 50px;
        flex-basis: 760px;
        align-self: flex-start;
        flex-direction: column; 
    }

    .product {
        margin-bottom: 10px;
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        width: auto;
        padding: 0px;
        margin: 0px;
        margin-bottom: 10px;
    }

    .productImageBox {
        display: flex;
        align-self: flex-start;
        margin: 10px;
        width: 200px;
    }

    .productImage {
        width: 200px;
        height: 200px;
    }

    .productDesc {
        margin-left: 50px;
        display: flex;
        align-self: center;
        flex-basis: 450px;
        margin-top: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        padding: 0px;
    }

    .productDesc p {
        margin-bottom: 15px;
        margin-right: auto;
    }

    .title {
        font-size: xx-large;
    }

    .add-ad {
       margin-top: 10px;
    }

    .filterForm input,
    .filterForm select {
        margin: 20px;
        font-size: medium;
        width: 220px;
    }

    .filterForm input{
        padding: 10px;
    }

    .filterForm select {
        height: 40px;
    }

    #priceSuggested {
        width: 150px;
    }

}


/* MOBILE AND PC HEADER */

/* 320px */
.mobile-header {
    display: flex;
    background: #6BCABA;
    position: static;
    height: 50px;
    width: 100%;
}

.mobileMenuImage {
    cursor: pointer;
    margin-top: 6px;
    margin-left: 3px;
}

.header {
    display: none;
}

.side-nav {
    background: #6BCABA;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 250px;
    display: none;
    height: 100vh;
}

.side-nav .header-row {
   height: auto;
   flex-direction: column;
}

.side-nav .header-row {
   height: auto;
   flex-direction: column;
}

.side-nav .header-list {
   height: auto;
   flex-direction: column;
   align-items: flex-start;
}

.side-nav .header-list li{
    margin-bottom: 20px;
}

.headerLogo {
    margin-top: 20px;
}

.headerLogo,
.side-nav .header-list {
    align-self: flex-start;
    margin-left: 30px;
}


/* wider than 500px */
@media (min-width: 500px) {

    .mobile-header {
        display: none;
    }

    .header {
        background: #6BCABA;
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    .header-row {
        height: 70px;
    }

    .header-list li {
        padding: 15px;
    }

    .side-nav .header-list li {
        padding: 0px;
    }


    .header-list li:last-child{
        padding: 0;
    }

    .page-body {
        margin-top: 70px;
    }

 
    
}